main {
  margin: 30px auto 0;;
  width: 900px;
  height: 550px;
  background-color: #fff;
}
#stageName {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  background-color: #f8a1a1;
}
/* ゲーム操作画面関連 */
#gameController {
  margin: 50px auto 0;
  width: 400px;
}
#gameController p {
  margin: 10px 0;
}
#instructionPara {
  font-weight: bold;
}
#textbox {
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin: 10px auto;
}
#startButton {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background-color: #f8a1a1;
  color: #fff;
  border: 1px solid #f8a1a1;
  border-radius: 10px;
}
#startButton:hover {
  opacity: 0.9;
}


/* 結果レポート関連 */
#resultReport {
  margin: 50px auto 0;
  width: 500px;
  padding: 5px;
  background-color: #fff1eb;
  border-radius: 10px;
  text-align: center;
  transition: 0.8s;
  transform: scale(0);
}
#reportTitlePara {
  font-size: 25px;
  font-weight: bold;
}

/* footer関連 */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #9dcbff;
}