body {
  margin: 0;
  background-color: #ffe1e1;
  font-family: sans-serif;
  font-size: 17px;
}

/* header関連 */
header {
  text-align: center;
  border-bottom: 1px solid #aaa;
}
header #logo {
  text-decoration: none;
  color: #888;
  font-size: 35px;
}

main {
  width: 600px;
  margin: 0 auto;
}

/* footer関連 */
footer {
  width: 100%;
  text-align: center;
  color: #777;
  position: absolute;
  bottom: 0;
}