.content-card {
  width: 700px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 4px 4px 4px #ccc;
}
@media (max-width: 670px){
  .content-card {
    width: 95%;
  }
}
.content-card-header {
  width: 100%;
  height: 50px;
  background-color: skyblue;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
}
.content-card-content {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.stage-name {
  font-weight: bold;
}

.nomalmode-color {
  color: #66ca6b;
}
.score-attack-color {
  color: #ffad5f;
}
.survival-color {
  color: #ff9b9b;
}

/* about.blade.php */
p {
  margin-bottom: 20px;
}
/* record.blade.php */
table {        
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 18px;
}
table th {
  color: #888;
}
table tr {
  border-bottom: 1px solid #ccc;
  line-height: 50px;
}
table td {
  width: 200px;
  text-align: center;
}