.game-board {
  margin: 50px auto 0;
  width: 700px;
  height: 400px;
  border: 3px solid #66ca6b;
  text-align: center;
}

@media (max-width: 700px){
  .game-board {
    width: 95%;
    /* border-left: none; */
    /* border-right: none; */
  }
}


.game-board-header {
  width: 100%;
  height: 70px;
  background-color: #66ca6b;

  line-height: 70px;
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  color: #fff;
  position: relative;
}
.sound-toggle-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 14px;
  right: 14px;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 20px;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.sound-toggle-button:hover {
  opacity: 0.7;
}
.sound-toggle-button:active {
  transform: scale(0.95);
}


.game-board-content {
  width: 100%;
  height: 330px;
  background-color: #c2ecbb;
}

.timer-para {
  margin: 0 auto;
  color: #777;
  font-size: 50px;
}
.typed-count-para {
  margin: 0 auto;
  color: #888;
  font-size:25px;
}
.instruction-para {
  margin: 10px auto;
  font-size: 25px;
  font-weight: bold;
  color: #555;
}
.textbox-container {
  width: 450px;
  margin: 20px auto;
  position: relative;
}
@media (max-width: 700px){
  .textbox-container {
    width: 300px;
  }
}
.textbox {
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: #888;
  background-color: #fff;
}
.textbox:disabled {
  background-color: #ececec;
}
.cross-mark {
  font-size: 40px;
  position: absolute;
  top: -8px;
  left: -33px;
  color: #ff6b6b;
  display: none;
}


.start-button-container {
  width: 200px;
  height: 50px;
  margin: 30px auto;
}
.start-button {
  width: 100%;
  height: 100%;
  background-color: #66ca6b;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
.start-button-container:hover {
  opacity: 0.6;
}
.start-button-container:active {
  transform: scale(0.95);
}


.tomato-style {
  background-color: tomato;
}


/* トップへ戻るボタン */
.nav-button {
  width: 300px;
  height: 50px;
  margin: 30px auto;
  background-color: #66ca6b;
  border-radius: 10px;
  position: relative;
}
.nav-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav-button:hover {
  opacity: 0.7;
}
.nav-button:active {
  transform: scale(0.95);
}


/* モーダルレポート */
#trigger {
  display: none;
}
input:checked ~ .overlay{
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}
input:checked ~ .overlay #report{
  transform: scale(1);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;

  transition: opacity 0.5s, transform 0s 0.5s;
  opacity: 0;
  transform: scale(0);
}
.overlay label {
  position: absolute;
  width: 100%;
  height: 100%;
}


.report {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 600px;
  height: 400px;
  
  background-color: #fff;
  border: 2px solid skyblue;

  transition: 0.5s;
  transform: scale(0.3);

}

.report-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: skyblue;
  color: #fff;
}
.report-content {
  margin: 0 auto;
  width: 400px;
}

.result-para {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: skyblue;
}
.statistics {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.dataKey {
  float: left;
  color: #555;
}
.dataValue {
  float: right;
  color: #555;
}

.new-highest-record-para {
  text-align: center;
  font-weight: bold;
  color: skyblue;
  font-size: 30px;
}

.closeButton {
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: skyblue;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  position: relative;
}
.closeButton label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.closeButton:hover {
  opacity: 0.8;
}
.closeButton:active {
  transform: scale(0.95);
}