.panels-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  width: 400px;
  height: 200px;
  margin: 30px auto;
  border: 2px solid #66ca6b;
  /* box-shadow: 4px 4px 4px #ccc; */

  position: relative;
}
.panel a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.panel:hover {
  opacity: 0.8;
}
.panel:active {
  transform: scale(0.98);
}

.stage-name {
  width: 100%;
  height: 140px;
  text-align: center;
  line-height: 140px;
  font-size: 70px;
  font-family: fantasy;
  color: #66ca6b;
  background-color: #ace4a3;
}
.stage-info {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 19px;
  color: #fff;
  background-color: #66ca6b;
}


.score-attack {
  border: 2px solid #ffad5f;
}
.score-attack .stage-name {
  color: #ffad5f;
  background-color: #ffe0b3;
}
.score-attack .stage-info {
  background-color: #ffad5f;
}

.survival {
  border: 2px solid #ff9b9b;
}
.survival .stage-name {
  color: #ff9b9b;
  background-color: #ffd0d0;
}
.survival .stage-info {
  background-color: #ff9b9b;
}