/* ページ全体関連 */
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #d7e9fd;
}

/* header関連 */
header {
  height: 50px;
  width: 100%;
  background-color: #9dcbff;
}
header a {
  color: #fff;
  text-decoration: none;
}
.logoAndNav {
  height: 100%;
  width: 700px;
  margin: 0 auto;
}
.logo{
  height: 100%;
  float: left;
  margin-left: 20px;
  line-height: 50px;
  font-size: 30px;
}
.nav {
  height: 100%;
  float: right;
  margin-right: 30px;
  line-height: 50px;
}
.nav-item {
  width: 80px;
  height: 100%;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #b4d7ff;
}

/* footer関連 */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #9dcbff;
}