#report {
  width: 500px;
  height: 220px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 2px solid #9dcbff;
  transition: 0.5s;
  transform: scale(0);
}

.reportHeader {
  width: 100%;
  height: 40px;
  background-color: #9dcbff;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.reportContent div {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
.result {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #9dcbff;
}
.dataKey {
  float: left;
  color: #555;
}
.dataValue {
  float: right;
  color: #555;
}
