#trigger {
  display: none;
}
input:checked ~ .overlay{
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}
input:checked ~ .overlay #report{
  transform: scale(1);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;

  transition: opacity 0.5s, transform 0s 0.5s;
  opacity: 0;
  transform: scale(0);
}
.overlay label {
  position: absolute;
  width: 100%;
  height: 100%;
}


.report {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 600px;
  height: 400px;
  
  background-color: #fff;
  border: 2px solid #7bcaff;

  transition: 0.5s;
  transform: scale(0.3);

}

.report-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: #7bcaff;
  color: #fff;
}
.report-content {
  margin: 30px auto;
  width: 400px;

}

.result-para {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #7bcaff;
}
.statistics {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.dataKey {
  float: left;
  color: #555;
}
.dataValue {
  float: right;
  color: #555;
}

.closeButton {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  background-color: #7bcaff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  position: relative;
}
.closeButton label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.closeButton:hover {
  opacity: 0.8;
}
.closeButton:active {
  transform: scale(0.98);
}