.gameBoard {
  border: 2px solid #ffbd80;
}

.display {
  background-color: #ffe695;
}
.stageName {
  color: #ffbd80;
}
#timerPara {
  color: #ffbd80;
}
#typedCountPara {
  color: #ffbd80;
}
#instructionPara {
  color: #fa7a02;
}

.controller {
  background-color: #ffbd80;
}
#startButton {
  background-color: #ffbd80;
}

